<div class="wrapper container_12 clearfix">
<div class="grid_3">
	<div class="header">
	<h1 class="logo"><a href="">The Wilson Quarterly</a></h1>
	<nav class="mainNav">
		<ul>
			<li><a href="">Current Issue</a></li>
			<li class="active"><a href="">Essays</a></li>
			<li><a href="">In Essence</a></li>
			<li><a href="">Book Reviews</a></li>
			<li><a href="">Archives</a></li>
			<li><a href="">About</a></li>
		</ul>
	</nav>
	</div>
	<div class="tout">
		<a href="" class="button-lg btn-icon">Subscribe to WQ</a>
	</div>
	<div class="tout currentIssue">
		<h3>Current Issue</h3>
		<a href=""><img src="/images/cover_small.jpg"></a>
		<h4>American Vistas</h4>
		<p>Summer 2012</p>
	</div>	
	<div class="tout app_promo">
		<h3>The Wilson Quarterly App</h3>
		<p>The Wilson Quarterly is now on iPad, Kindle & Nook. <a href="">Download the app</a></p>
	</div>	
</div>

<div class="content grid_9 last">
	<div class="bar grid_9 first">
		<p class="tagline">Surveying the world of ideas</p>
		<div class="tertLinks">
			<a href="" class="login">Login</a>
<!-- 			<a href="" class="account">My Account</a> -->
		</div>
		<div class="search">
			<input type="search" title="Search" name="Search" placeholder="Search"/>
			<input type="submit" alt="Search" class="search-btn" name="search-btn"/>
		</div>
	</div>
</div>
	
<div class="grid_9 last">
		<div class="hero">
			<img src="/images/hero.jpg">
			<a class="slug" href="">Summer 2012</a>
			<h1><span>Beyond the Brain</span></h1>
			<span class="author">Tanya Marie Luhrmann</span>
		</div>
		<p class="lead">In the 1990s, scientists declared that schizophrenia and other psychiatric illnesses were pure brain disorders that would eventually yield to drugs. Now they are recognizing that social factors are among the causes, and must be part of the cure.</p>
		<a class="button" href="">Read Full Article</a>
		<a class="button" href="">View the Entire Issue</a>
</div>
	

	<div class="grid_9 article">	
		<h3>Curated Articles</h3>
		<ul>
			<li>
				<span class="slug">Findings</span>
				<h4>Headline</h4>
				<p>This is an intro paragraph for this article</p>
			</li>
			<li>
				<span class="slug">Essay</span>
				<h4>Headline</h4>
				<p>This is an intro paragraph for this article</p>
			</li>
			<li>
				<span class="slug">In Essence</span>
				<h4>Headline</h4>
				<p>This is an intro paragraph for this article</p>
			</li>	
		</ul>
		<h3>Reader's Favorites</h3>
		<ul>
			<li>
				<span class="slug">Findings</span>
				<h4>Headline</h4>
				<p>This is an intro paragraph for this article</p>
			</li>
			<li>
				<span class="slug">Essay</span>
				<h4>Headline</h4>
				<p>This is an intro paragraph for this article</p>
			</li>
			<li>
				<span class="slug">In Essence</span>
				<h4>Headline</h4>
				<p>This is an intro paragraph for this article</p>
			</li>	
		</ul>
			<div class="switcher">
						  <ul>
			    <li><a href=#views>Most Views</a>
			    <li><a href=#comments>Most Comments</a>
			  </ul>
			</nav>
			<div id=wrap>
			  <section id=views>
			    <p>
			      <strong>Welcome!</strong>
			      Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod
			      tempor sit incididunt ut labore et dolore magna aliquat, enim ad minim
			      veniam, quis nostrud culpa exercitation ullamco laboris nisi ut laborum
			      commodo consequat ex aliquip.
			    </p>
			  </section>
			  <section id=comments>
			    <p>
			      <strong>About us:</strong>
			      Duis aute irure dolor in voluptate velit esse cillum
			      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			      proident, sunt in culpa qui officia deserunt mollit.
			    </p>
			  </section>
			</div>
			<nav>

			</div>
			</div>
<div class="grid_12">
<div class="featureBlock">
			<h3>Editor's Corner</h3>
		</div>
		<div class="featureBlock">
			<h3>Author Spotlight</h3>
		</div>
		<div class="featureBlock">
			<h3>From the Archives</h3>
		</div>
</div>

</div>
