<div class="wrapper container_12 home home-horz clearfix">
<div class="grid_3">
	<div class="header">
	<h1 class="logo"><a href="">The Wilson Quarterly</a></h1>
	<p class="tagline">Surveying the world of ideas</p>
	<nav class="mainNav">
		<ul>
			<li><a href="">Current Issue</a></li>
			<li><a href="">Essays</a></li>
			<li><a href="">In Essence</a></li>
			<li><a href="">Book Reviews</a></li>
			<li><a href="">Archives</a></li>
			<li><a href="">About</a></li>
		</ul>
	</nav>
	</div>

	<div class="tout">
		<a href="" class="button-lg btn-icon">Subscribe to WQ</a>
	</div>
	<div class="search tout clearfix">
		<input type="search" title="Search" name="Search" placeholder="Search WQ"/>
		<a class="button-lg btn-icon" href="">Search</a>
	</div>
		<div class="tout signin">
			<h3>Your Account</h3>
			<p>Sign in to unlock premium content or update your subscription details.</p>
			<a class="button-lg btn-icon" href="">Log In</a>
		</div>
	<div class="tout currentIssue">
		<h3>Autumn 2012 Issue</h3>
		<a href=""><img src="/images/cover_small.jpg"></a>
		<h4>Will India Win?</h4>
	</div>
	<div class="tout app_promo">
		<h3>The Wilson Quarterly App</h3>
		<p>The Wilson Quarterly is now on iPad, Kindle & Nook. <a href="">Download the app</a></p>
	</div>
</div>

<!--
<div class=" grid_9 last">
	<div class="bar grid_9 first">
		<div class="tertLinks">
			<a href="" class="login">Login</a>
			<a href="" class="account">My Account</a>
		</div>
		<div class="search">
			<input type="search" title="Search" name="Search" placeholder="Search WQ"/>
			<input type="submit" alt="Search" class="search-btn" name="search-btn"/>
		</div>
	</div>
</div>
-->

<div class="grid_9 last">
<div class="hero">
			<img src="/images/home-hero-horz.jpg">
		</div>

		<div class="lead clearfix">
		<h2><a href="">Tocqueville's Blind Spot</a></h2>
		<span class="author">Tanya Marie Luhrmann & Lauren Booth</span>

		<p>In the 1990s, scientists declared that schizophrenia and other psychiatric illnesses were pure brain disorders that would eventually yield to drugs. Now they are recognizing that social factors are among the causes, and must be part of the cure.</p>
		<ul class="hero-related clearfix">
			<h3>Related Stories</h3>

			<li><a href="">The Dawn of Market Urbanism</a></li>
			<li><a href="">The Withering of the Affluent</a></li>
			<li><a href="">Beyond the Brain</a></li>
		</ul>
			</div>


<!--
	<div class="hero-vert clearfix">
			<img src="/images/hero-vert.jpg">
			<span class="slug">Autumn 2012</span>
			<h2><a href="">India’s Feckless Elite</a></h2>
			<span class="author">Sadanand Dhume</span>
			</div>
			<div class="vert">
			<p class="lead">Its political class may not be up to the task of leading India toward prosperity.</p>
			<h3>Related Stories</h3>
			<ul class="hero-related">
				<li><a href="">The Dawn of Market Urbanism</a></li>
				<li><a href="">The Withering of the Affluent</a></li>
				<li><a href="">Beyond the Brain</a></li>
			</ul>
			</div>
-->
		</div>

<div class="grid_9 rotator">
	<div id="navigation" class="grid_9 first">
			<span href="" class="prev">&nbsp;</span>
			<span href="" class="next">&nbsp;</span>
		</div>
	<div class="slide clearfix quote">
		<div class="content">
		<blockquote class="double">Propelled by economic success and a sense of its own exceptionalism, India stands poised to create a new role for itself on the world stage. <cite>Michael Kugelman from “<a href="">Warming in My Backyard</a>"</cite></blockquote>
		</div>


	</div>
</div>
<div class="grid_9 optionalAd">
<p>Optional Ad Space</p>
</div>
<div class="grid_9 curated section">
		<header class="clearfix">
			<h3>Curated Articles</h3>
		</header>
		<ul class="articles clearfix">
			<li class="grid_3 first">
				<span class="slug">Findings</span>
				<h4><a href="">The Dawn of Market Urbanism</a></h4>
				<p>A new and better approach to shaping the places in which we live has emerged just as Americans responding to the rising cost of energy begin to crowd into older suburbs and cities.</p>
			</li>
			<li class="grid_3">
				<span class="slug">Essay</span>
				<h4><a href="">India’s Feckless Elite</a></h4>
				<p>A new and better approach to shaping the places in which we live has emerged just as Americans responding to the rising cost of energy begin to crowd into older suburbs and cities.</p>
			</li>
			<li class="grid_3 last">
				<span class="slug">In Essence</span>
				<h4><a href="">The Withering of the Affluent Society</a></h4>
				<p>A new and better approach to shaping the places in which we live has emerged just as Americans responding to the rising cost of energy begin to crowd into older suburbs and cities.</p>
			</li>
		</ul>
</div>
<div class="popular grid_9 last section">
		<header class="clearfix">
		<h3>What's Popular</h3>
		</header>
<!--
			<nav>
				<ul class="clearfix">
				    <li><a class="views">Most Viewed</a>
				    <li><a class="">Most Discussion</a>
				</ul>
			</nav>
			<div id=wrap>
-->
			  <section id=views>
			  	<h4>Most Read</h4>
			    <ol>
			    	<li><a>Beyond the Brain</a></li>
			    	<li><a>The Withering of the Affluent Society</a></li>
			    	<li><a>India’s Feckless Elite</a></li>
			    	<li><a>The Dawn of Market Urbanism</a></li>
			    	<li><a>The Dawn of Market Urbanism</a></li>
			    </ol>
			  </section>
			  <section id=comments>
			  <h4>Most Discussed</h4>
			    <ol>
			    	<li><a>Beyond the Brain</a></li>
			    	<li><a>The Withering of the Affluent Society</a></li>
			    	<li><a>India’s Feckless Elite</a></li>
			    	<li><a>The Dawn of Market Urbanism</a></li>
			    	<li><a>The Dawn of Market Urbanism</a></li>
			    </ol>
			  </section>
<!-- 			</div> -->
			</div>
<div class="grid_12 contentBlocks">
	<div class="featureBlock">
		<h3>Editor's Corner</h3>
		<h4>Steve Lagerfeld</h4>
		<div class="authorSpot clearfix">
		<img src="images/steve-photo.jpg">
		<p>Its political class may not be up to the task of leading India toward prosperity.</p>
		</div>
	</div>
	<div class="featureBlock">
		<blockquote>This is an example of a pull quote in one of the featured blocks at the bottom of the homepage.<cite>Quote Author</cite></blockquote>
	</div>
	<div class="featureBlock">
		<h3>From the Archives</h3>
		<h4><A href="">What is Hugo Chávez Up To?</a></h4>
		<span class="author">by Joshua Kucera</span>
		<p>Venezuelan president Hugo Chávez has set alarms ringing with his efforts to create a global anti-American coalition.</p>
	</div>
</div>
			</div>
</div>
