<div class="wrapper container_12 home clearfix">
<div class="grid_3">
	<div class="header">
	<h1 class="logo"><a href="">The Wilson Quarterly</a></h1>
	<p class="tagline">Surveying the world of ideas</p>
	<nav class="mainNav">
		<ul>
			<li><a href="">Current Issue</a></li>
			<li><a href="">Essays</a></li>
			<li><a href="">In Essence</a></li>
			<li><a href="">Book Reviews</a></li>
			<li><a href="">Archives</a></li>
			<li><a href="">About</a></li>
		</ul>
	</nav>
	</div>

	<div class="tout">
		<a href="" class="button-lg btn-icon">Subscribe to WQ</a>
	</div>
	<div class="tout currentIssue">
		<h3>Current Issue</h3>
		<a href=""><img src="/images/cover_small.jpg"></a>
		<h4>Will India Win?</h4>
		<p>Autumn 2012</p>
	</div>	
	<div class="tout app_promo">
		<h3>The Wilson Quarterly App</h3>
		<p>The Wilson Quarterly is now on iPad, Kindle & Nook. <a href="">Download the app</a></p>
	</div>	
</div>
<div class=" grid_9 last">
	<div class="bar grid_9 first">
		<div class="tertLinks">
			<a href="" class="login">Login</a>
<!-- 			<a href="" class="account">My Account</a> -->
		</div>
		<div class="search">
			<input type="search" title="Search" name="Search" placeholder="Search"/>
			<input type="submit" alt="Search" class="search-btn" name="search-btn"/>
		</div>
	</div>
</div>
	
<div class="grid_9 last">
	<div class="hero clearfix">
			<img src="/images/hero-home.jpg">
			<div class="content">
			<span class="slug">Autumn 2012</span>
			<h2><span>India’s Feckless Elite</span></h2>
			<span class="author">Sadanand Dhume</span>
			<p class="">Its political class may not be up to the task of leading India toward prosperity.</p>
			<a class="button-lg" href="">Read Full Article</a>
			<a class="button-lg" href="">View the Entire Issue</a>
			</div>
		</div>
</div>
<div class="grid_9 rotator">
	<div id="navigation" class="grid_9 first">
			<span href="" class="prev">&nbsp;</span>
			<span href="" class="next">&nbsp;</span>
		</div>
	<div class="slide clearfix">
		<div class="content">
		<span class="slug">In Essence</span>
		<h2>Warming in My Backyard</h2>
		<p>Americans’ poor grasp of energy economics and their focus on local, not global, environmental problems suggest policymakers should change tack on climate change.</p>
		<a href="" class="button">Read Article</a><a href="" class="button">More In Essence</a>
		</div>
		<img src="http://lorempixel.com/300/200/city/">

	</div>
</div>
<div class="grid_9 optionalAd">
<p>Optional ad space</p>
</div>
<div class="grid_9 curated">
		<h3>Curated Articles</h3>
		<ul class="articles clearfix">
			<li class="grid_3 first">
				<span class="slug">Findings</span>
				<h4><a href="">The Dawn of Market Urbanism</a></h4>
				<p>A new and better approach to shaping the places in which we live has emerged just as Americans responding to the rising cost of energy begin to crowd into older suburbs and cities.</p>
			</li>
			<li class="grid_3">
				<span class="slug">Essay</span>
				<h4><a href="">India’s Feckless Elite</a></h4>
				<p>A new and better approach to shaping the places in which we live has emerged just as Americans responding to the rising cost of energy begin to crowd into older suburbs and cities.</p>
			</li>
			<li class="grid_3 last">
				<span class="slug">In Essence</span>
				<h4><a href="">The Withering of the Affluent Society</a></h4>
				<p>A new and better approach to shaping the places in which we live has emerged just as Americans responding to the rising cost of energy begin to crowd into older suburbs and cities.</p>
			</li>	
		</ul>
</div>
<div class="popular grid_9 last">
		<h3>What's Popular</h3>
<!--
			<nav>
				<ul class="clearfix">
				    <li><a class="views">Most Viewed</a>
				    <li><a class="">Most Discussion</a>
				</ul>
			</nav>
			<div id=wrap>
-->
			  <section id=views>
			  	<h4>Most Read</h4>
			    <ol>
			    	<li><a>Beyond the Brain</a></li>
			    	<li><a>The Withering of the Affluent Society</a></li>
			    	<li><a>India’s Feckless Elite</a></li>
			    	<li><a>The Dawn of Market Urbanism</a></li>
			    	<li><a>The Dawn of Market Urbanism</a></li>
			    </ol>
			  </section>
			  <section id=comments>
			  <h4>Most Discussed</h4>
			    <ol>
			    	<li><a>Beyond the Brain</a></li>
			    	<li><a>The Withering of the Affluent Society</a></li>
			    	<li><a>India’s Feckless Elite</a></li>
			    	<li><a>The Dawn of Market Urbanism</a></li>
			    	<li><a>The Dawn of Market Urbanism</a></li>
			    </ol>
			  </section>
<!-- 			</div> -->
			</div>
<div class="grid_12 contentBlocks">
	<div class="featureBlock">
		<h3>Editor's Corner</h3>
		<h4>Steve Lagerfeld</h4>
		<div class="authorSpot clearfix">
		<img src="images/steve-photo.jpg">
		<p>Its political class may not be up to the task of leading India toward prosperity.</p>
		</div>
	</div>
	<div class="featureBlock">
		<h3>Author Spotlight</h3>
		<h4>Tanya Marie Luhrmann</h4>
		<div class="authorSpot clearfix">
		<img src="http://lorempixel.com/80/80/people/1">
		<p>Its political class may not be up to the task of leading India toward prosperity.</p>
		</div>
		<p></p>
	</div>
	<div class="featureBlock">
		<h3>From the Archives</h3>
		<h4><A href="">What is Hugo Chávez Up To?</a></h4>
		<span class="author">by Joshua Kucera</span>
		<p>Venezuelan president Hugo Chávez has set alarms ringing with his efforts to create a global anti-American coalition.</p>
	</div>
</div>
			</div>
</div>
