<div class="wrapper container_12 index">
<div class="grid_6 push_3">
<h1>Wilson Quarterly Design Prototypes</h1>
<dl>
	<dt><a href="/home-vert">Home</a></dt>
	<dd>The Homepage</dd>
	
	<dt><a href="/home">Home (Vertical)</a></dt>
	<dd>Shows a hero image with a vertically-inclined aspect ratio.</dd>
	
	<dt><a href="/issue">Issue Landing</a></dt>
	<dd>This is the landing page for each issue.</dd>
	
	<dt><a href="/article">Article Detail</a></dt>
	<dd>This is the article page used for Essays, In Essence, Book Reviews, Web Exclusives, and archived articles.</dd>
	
	<dt><a href="/article-vert">Article Detail (Vertical)</a></dt>
	<dd>Shows a hero image with a vertically-inclined aspect ratio.</dd>
</dl>
</div>
