<div class="wrapper container_12 index clearfix">
<div class="grid_6 push_3">
<h1>Design Prototypes for The Wilson Quarterly</h1>
<dl>
	<dt><a href="/home-vert">Home</a></dt>
	<dd>The Homepage. As an alternate to the "blocks" behind each piece of text in the hero area, this shows what a single "box" behind all the text would look like on top of a lighter photo.</dd>
	
	<dt><a href="/home">Home (Vertical)</a></dt>
	<dd>Shows a hero image with a vertically-inclined aspect ratio. This also shows a new pullquote style for the ad area.</dd>
	
	<dt><a href="/issue">Issue Landing</a></dt>
	<dd>This is the landing page for each issue.</dd>
	
	<dt><a href="/article">Article Detail</a></dt>
	<dd>This is the article page used for Essays, In Essence, Book Reviews, Web Exclusives, and archived articles. As an alternate to the "blocks" behind each piece of text in the hero area, this shows that information moved down into the grey box underneath.</dd>
	
	<dt><a href="/article-vert">Article Detail (Vertical)</a></dt>
	<dd>Shows a lighter hero image with a vertically-inclined aspect ratio. This also shows a new pullquote style that appears in the left margin (scroll to just over halfway down the page).</dd>
</dl>
</div>
