<div class="wrapper container_12 index clearfix">
<div class="grid_8 push_2">
<h1>Design Prototypes for The Wilson Quarterly</h1>
<dl>
	<dt><a href="/home-vert">Home</a></dt>
	<dd>The Homepage. As an alternate to the "blocks" behind each piece of text in the hero area, this shows what a single "box" behind all the text would look like on top of a lighter hero photo. We've also adjusted the design of the rotator pullquote style here.</dd>
	
	<dt><a href="/home">Home (Vertical)</a></dt>
	<dd>Shows a darker hero image with a vertically-inclined aspect ratio. This also shows a new pullquote style for the ad area.</dd>
	
	<dt><a href="/issue">Issue Landing</a></dt>
	<dd>This is the landing page for each issue.</dd>
	
	<dt><a href="/article">Article Detail</a></dt>
	<dd>This is the article page used for Essays, In Essence, Book Reviews, Web Exclusives, and archived articles. As an alternate to the "blocks" behind each piece of text in the hero area, this shows that information moved down into the grey box underneath with a darker image.</dd>
	
	<dt><a href="/article-vert">Article Detail (Vertical)</a></dt>
	<dd>Shows a lighter hero image with a vertically-inclined aspect ratio. This also shows a new pullquote style that appears in the left margin (scroll to just over halfway down the page).</dd>
</dl>
<ul>
	<li style="width:100%"><h3>Overlay - Full Width - Slug</h3><a href="http://f.cl.ly/items/213X2j0v0X3e2C1o0O3z/Screen%20Shot%202012-11-16%20at%204.07.11%20PM.png"><img style="width:100%" src="http://f.cl.ly/items/213X2j0v0X3e2C1o0O3z/Screen%20Shot%202012-11-16%20at%204.07.11%20PM.png"></a></li>
	
	<li style="width:100%"><h3>Overlay - Full Width - No Slug</h3><a href="http://f.cl.ly/items/3y2i0Z2m0O2q343U0w1r/Screen%20Shot%202012-11-16%20at%204.07.22%20PM.png"><img style="width:100%" src="http://f.cl.ly/items/3y2i0Z2m0O2q343U0w1r/Screen%20Shot%202012-11-16%20at%204.07.22%20PM.png"></a></li>
		
	<li style="width:100%"><h3>Overlay - Slug</h3><a href="http://f.cl.ly/items/1C3Y3l1u1g2N3v3C0Q46/Screen%20Shot%202012-11-16%20at%204.06.38%20PM.png"><img style="width:100%" src="http://f.cl.ly/items/1C3Y3l1u1g2N3v3C0Q46/Screen%20Shot%202012-11-16%20at%204.06.38%20PM.png"></a></li>
	
		<li style="width:100%"><h3>Overlay - No Slug</h3><a href="https://dl.dropbox.com/u/53944904/box_noslug.png"><img style="width:100%" src="https://dl.dropbox.com/u/53944904/box_noslug.png"></a></li>
		
			<li style="width:100%"><h3>In Box - Slug</h3><a href="http://f.cl.ly/items/1I3d1o1r0G0b3I1j1w21/Screen%20Shot%202012-11-16%20at%204.04.36%20PM.png"><img style="width:100%" src="http://f.cl.ly/items/1I3d1o1r0G0b3I1j1w21/Screen%20Shot%202012-11-16%20at%204.04.36%20PM.png"></a></li>
			
				<li style="width:100%"><h3>In Box - No Slug</h3><a href="http://f.cl.ly/items/0X0J1G412O0q0I1H0M2k/Screen%20Shot%202012-11-16%20at%204.04.57%20PM.png"><img style="width:100%" src="http://f.cl.ly/items/0X0J1G412O0q0I1H0M2k/Screen%20Shot%202012-11-16%20at%204.04.57%20PM.png"></a></li>
</ul>
</div>
