<div class="wrapper container_12 clearfix issueLanding">
<div class="grid_3">
	<div class="header">
	<h1 class="logo"><a href="">The Wilson Quarterly</a></h1>
	<nav class="mainNav">
		<ul>
			<li><a  class="active" href="">Current Issue</a></li>
			<li><a href="">Essays</a></li>
			<li><a href="">In Essence</a></li>
			<li><a href="">Book Reviews</a></li>
			<li><a href="">Archives</a></li>
			<li><a href="">About</a></li>
		</ul>
	</nav>
	</div>
	<div class="tout">
		<h3>Digital Issue Access</h3>
		<p>Get online access to the entire contents of this issue.</p>
		<a href="" class="button-lg btn-icon">Get Issue Access</a>
	</div>	
	<div class="tout app_promo">
		<h3>The Wilson Quarterly App</h3>
		<p>The Wilson Quarterly is now on iPad, Kindle & Nook. <a href="">Download the app</a></p>
	</div>	
</div>

<div class="content grid_9 last">
	<div class="bar grid_9 first">
		<p class="tagline">Surveying the world of ideas</p>
		<div class="tertLinks">
			<a href="" class="login">Login</a>
<!-- 			<a href="" class="account">My Account</a> -->
		</div>
		<div class="search">
			<input type="search" title="Search" name="Search" placeholder="Search"/>
			<input type="submit" alt="Search" class="search-btn" name="search-btn"/>
		</div>
	</div>
</div>
	
<div class="grid_9 last">
	<div class="hero clearfix">
		<img src="/images/cover_large.jpg">
		<div>
			<span class="slug">Cover Story</span>
			<h1><span>American Vistas</span></h1>
			<p>In the 1990s, scientists declared that schizophrenia and other psychiatric illnesses were pure brain disorders that would eventually yield to drugs. Now they are recognizing that social factors are among the causes, and must be part of the cure.</p><a href="" class="button-lg">Read More</a>
		</div>
</div>
<ul class="issue-contents clearfix">
	<li><img src="http://lorempixel.com/120/80/people/5"><h3><a href="">Open Doors<span class="premium"></span></a></h3><span class="author">Steven Lagerfeld</span></li>
	<li><img src="http://lorempixel.com/120/80/people/6"><h3><a href="">The Tocquevillean Moment...and Ours<span class="premium"></span></a></h3><span class="author">Wilfred M. McClay</span></li>
	<li><img src="http://lorempixel.com/120/80/people/7"><h3><a href="">The Withering of the Affluent Society</a></h3><span class="author">Robert J.Samuelson</span></li>
	<li><img src="http://lorempixel.com/120/80/people/8"><h3><a href="">America's Edge<span class="premium"></span></a></h3><span class="author">Martin Walker</span></li>
</ul>
</div>
<div class="grid_9 toc">
	<h2>Table of Contents<span>Volume 36, No. 3</span></h2>
	<div class="inEssence">
		<h3>In Essence</h3>
		<p>Our Survey of notable articles from other journals and magazines.</p>
		<ul>
			<li>
				<h4><a href="">A Farewell to Growth<span class="premium"></span></a></h4>
				<p><span class="source">Source:</span> “Is U.S. Economic Growth Over? Faltering Innovation Confronts the Six Headwinds”</p><span class="author">by Robert J. Gordon</span><span class="details">NBER Working Papers, Aug. 2012.</span>
			</li>
			<li>
				<h4><a href="">A Farewell to Growth</a></h4>
				<p><span class="source">Source:</span> “Is U.S. Economic Growth Over? Faltering Innovation Confronts the Six Headwinds” </p><span class="author">by Robert J. Gordon</span> <span class="details">NBER Working Papers, Aug. 2012.</span>
			</li>
			<li>
				<h4><a href="">A Farewell to Growth<span class="premium"></span></a></h4>
				<p><span class="source">Source:</span> “Is U.S. Economic Growth Over? Faltering Innovation Confronts the Six Headwinds” </p><span class="author">by Robert J. Gordon</span> <span class="details">NBER Working Papers, Aug. 2012.</span>
			</li>
			<li>
				<h4><a href="">A Farewell to Growth</a></h4>
				<p><span class="source">Source:</span> “Is U.S. Economic Growth Over? Faltering Innovation Confronts the Six Headwinds” </p><span class="author">by Robert J. Gordon</span> <span class="details">NBER Working Papers, Aug. 2012.</span>
			</li>
			<li>
				<h4><a href="">A Farewell to Growth<span class="premium"></span></a></h4>
				<p><span class="source">Source:</span> “Is U.S. Economic Growth Over? Faltering Innovation Confronts the Six Headwinds”</p><span class="author">by Robert J. Gordon</span> <span class="details">NBER Working Papers, Aug. 2012.</span>
			</li>
		</ul>
	</div>
	<div class="books">
		<h3>Current Books</h3>
		<ul>
			<li>
				<h4><a href="">Bloody New World: The Barborous Years<span class="premium"></span></a></h4>
				<p>The Peopling of British North America: The Conflict of Civilizations, 1600–1675.</p>
				<span class="author">By Bernard Bailyn.</span>
				<span class="details">Knopf. 640 pp. $35</span>
			</li>
			<li>
				<h4><a href="">Bloody New World: The Barborous Years<span class="premium"></span></a></h4>
				<p>The Peopling of British North America: The Conflict of Civilizations, 1600–1675.</p>
				<span class="author">By Bernard Bailyn.</span>
				<span class="details">Knopf. 640 pp. $35</span>
			</li>
			<li>
				<h4><a href="">Bloody New World: The Barborous Years<span class="premium"></span></a></h4>
				<p>The Peopling of British North America: The Conflict of Civilizations, 1600–1675.</p>
				<span class="author">By Bernard Bailyn.</span>
				<span class="details">Knopf. 640 pp. $35</span>
			</li>
			<li>
				<h4><a href="">Bloody New World: The Barborous Years<span class="premium"></span></a></h4>
				<p>The Peopling of British North America: The Conflict of Civilizations, 1600–1675.</p>
				<span class="author">By Bernard Bailyn.</span>
				<span class="details">Knopf. 640 pp. $35</span>
			</li>
			<li>
				<h4><a href="">Bloody New World: The Barborous Years</a></h4>
				<p>The Peopling of British North America: The Conflict of Civilizations, 1600–1675.</p>
				<span class="author">By Bernard Bailyn.</span>
				<span class="details">Knopf. 640 pp. $35</span>
			</li>
		</ul>
	</div>
</div>
<div class="carousel grid_12">
<h2 class="grid_9 push_3 first">More From This Issue</h2>
	<div id="navigation" class="grid_12 first">
		<span href="" class="prev">&nbsp;</span>
		<span href="" class="next">&nbsp;</span>
	</div>
	<div id='slider'>
	  <ul class="clearfix">
	    <li><img src="http://lorempixel.com/200/120/people"><span class="slug">Spring 2012</span><h3><a href="">Age of Connection</a></h3></li>
	    <li><img src="/images/carousel_default.png"><span class="slug">Winter 2012</span><h3><a href="">Lessons of the Great Depression</a></h3></li>
	    <li><img src="http://lorempixel.com/200/120/nature"><span class="slug">Autumn 2011</span><h3><a href="">America's Schools</a></h3></li>
	    <li><img src="http://lorempixel.com/200/120/technics"><span class="slug">Summer 2011</span><h3><a href="">What's Next?</a></h3></li>
	  </ul>
	</div>
</div>
</div>
