<!DOCTYPE html>
<html lang="">
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="stylesheets/styles.css">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<title>The Wilson Quarterly</title>
<script type="text/javascript">var switchTo5x=false;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-4398a482-66d2-8034-c6ec-71f4d972248"});</script>
<script type="text/javascript" src="//use.typekit.net/nuh0dcf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
			<%= yield %>			
			
<div class="footerWrap clearfix">
	<div class="footer clearfix container_12">
		<p class="legal grid_4">Copyright 2010, The Woodrow Wilson International Center for Scholars. All rights reserved.</p>
		<ul class="social grid_2">
			<li><a class="fb" href="">Facebook</a></li>
			<li><a class="twitter" href="">Twitter</a></li>
		</ul>
		<ul class="nav grid_2">
			<li><a href="">Privacy Policy</a></li>
			<li><a href="">Contact Us</a></li>
			<li><a href="">Legal Notices & Submissions</a></li>
		</ul>
		<div class="address grid_4 last">
			<span class="">Woodrow Wilson International Center for Scholars</span>
			<span class="">Ronald Reagan Building and International Trade Center</span>
			<span class="">One Woodrow Wilson Plaza, 1300 Pennsylvania Ave., NW</span>
			<span class="">Washington, DC 20004-3027</span>
			<span class="">P: 202-691-4000</span>
		</div>
	</div>
</div>
</body>
</html>