<div class="wrapper container_12 clearfix">
<div class="grid_3">
	<div class="header">
	<h1 class="logo"><a href="">The Wilson Quarterly</a></h1>
	<nav class="mainNav">
		<ul>
			<li><a href="">Current Issue</a></li>
			<li class="active"><a href="">Essays</a></li>
			<li><a href="">In Essence</a></li>
			<li><a href="">Book Reviews</a></li>
			<li><a href="">Archives</a></li>
			<li><a href="">About</a></li>
		</ul>
	</nav>
	</div>
	<div class="tout">
		<p>Get access to the entire issue
	</div>	
	<div class="tout app_promo">
		<h3>The Wilson Quarterly App</h3>
		<p>The Wilson Quarterly is now on iPad, Kindle & Nook. <a href="">Download the app</a></p>
	</div>	
</div>

<div class="content grid_9 last">
	<div class="bar grid_9 first">
		<p class="tagline">Surveying the world of ideas</p>
		<div class="tertLinks">
			<a href="" class="login">Login</a>
<!-- 			<a href="" class="account">My Account</a> -->
		</div>
		<div class="search">
			<input type="search" title="Search" name="Search" placeholder="Search"/>
			<input type="submit" alt="Search" class="search-btn" name="search-btn"/>
		</div>
	</div>
</div>
	
<div class="grid_9 last">
		<div class="hero">
			<img src="/images/hero.jpg">
			<a class="slug" href="">Cover Story</a>
			<h1><span>American Vistas</span></h1>
			<span class="author">Tanya Marie Luhrmann</span>
		</div>
				<p class="lead">Twelve years into a new century, a kind of grimness pervades the United States. Is it just the postcrisis hangover of a stagnant job market, or have the era's upheavals and uncertainties, at home and abroad, changed something fundamental? To find out, we enlisted some of our longtime contributors. </p>
</div>
	<div class="meta grid_9">
			<span class="share">Share
				<span class='st_facebook'></span>
				<span class='st_twitter'></span>
				<span class='st_email'></span>
			</span>
			<span class="read_est">Read Time: 4m 38sec</span>
	</div>

	<div class="grid_7 article">
	
	</div>


	<div class="sidebar grid_2 last">
		<div>
			<h3>Related Reading</h3>
			<ul>
				<li>
					<h4><a href="">Open Doors</a></h4>
					<p>For 36 years, it has been The Wilson Quarterly's central preoccupation: What's on the horizon for the great American experiment?</p>
				</li>
				<li>
					<h4><a href="">The Tocquevillean Moment . . . and Ours</a></h4>
					<p>The great 19th-century observer of America's democratic revolution has much to teach the tumultuous new century.</p>
				</li>
				<li>
					<h4><a href="">The Dawn of Market Urbanism</a></h4>
					<p>A new and better approach to shaping the places in which we live has emerged just as Americans responding to the rising cost of energy begin to crowd into older suburbs and cities.</p>
				</li>
	
			</ul>
		</div>
		
		<div>
			<h3>From the Wilson Center</h3>
			<ul>
				<li>
					<h4><a href="">This is a Related Article</a></h4>
					<p>Read this article because it relates to this topic.</p>
				</li>
				<li>
					<h4><a href="">This is a Related Article</a></h4>
					<p>Read this article because it relates to this topic.</p>
				</li>
				<li>
					<h4><a href="">This is a Related Article</a></h4>
					<p>Read this article because it relates to this topic.</p>
				</li>
			</ul>
		</div>
	</div>
	<footer>
		<div class="meta_end grid_7 push_3">
			<a class="slug" href="">Summer 2012</a>
			<span class="share">Share
			<span class='st_facebook'></span>
			<span class='st_twitter'></span>
			<span class='st_email'></span></span>
	</div>
	</footer>
			    <div class="carousel grid_12">
		<h2 class="grid_9 push_3 first">More From this Issue</h2>
		<div id="navigation" class="grid_12 first">
			<span href="" class="prev">&nbsp;</span>
			<span href="" class="next">&nbsp;</span>
		</div>
		<div id='slider'>
		  <ul class="clearfix">
		    <li><img src="http://lorempixel.com/200/120/people"><span>Spring 2012</span><h3><a href="">Age of Connection</a></h3></li>
		    <li><img src="/images/carousel_default.png"><span>Winter 2012</span><h3><a href="">Lessons of the Great Depression</a></h3></li>
		    <li><img src="http://lorempixel.com/200/120/nature"><span>Autumn 2011</span><h3><a href="">America's Schools</a></h3></li>
		    <li><img src="http://lorempixel.com/200/120/technics"><span>Summer 2011</span><h3><a href="">What's Next?</a></h3></li>
		  </ul>
	  </div>
	</div>
<div class="discussion grid_9 push_3 last">
		<header class="clearfix">
		<h2>Comments</h2>
		<a href="" class="button signin">Post a Comment</a>
		</header>
		<section class="comments">
		    <article class="comment">
		      <a class="comment-img" href="#non">
		        <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50">
		      </a>
		      <div class="comment-body">
		        <div class="text">
		          <p>Hello, this is an example comment</p>
		        </div>
		        <p class="attribution">by <a href="#non">Joe Bloggs</a> at 14:23pm, 4th Dec 2010</p>
		      </div>
		    </article>
		      <article class="comment">
		      <a class="comment-img" href="#non">
		        <img src="http://lorempixum.com/50/50/people/7" alt="" width="50" height="50">
		      </a>
		      <div class="comment-body">
		        <div class="text">
		          <p>This is a much longer one that will go on for a few lines.</p>
		          <p>It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.</p>
		        </div>
		        <p class="attribution">by <a href="#non">Joe Bloggs</a> at 14:23pm, 4th Dec 2010</p>
		      </div>
		    </article>
		    	    <article class="comment">
		      <a class="comment-img" href="#non">
		        <img src="http://lorempixum.com/50/50/people/3" alt="" width="50" height="50">
		      </a>
		      <div class="comment-body">
		        <div class="text">
		          <p>Hello, this is an example comment</p>
		        </div>
		        <p class="attribution">by <a href="#non">Joe Bloggs</a> at 14:23pm, 4th Dec 2010</p>
		      </div>
		    </article>
		    </section>
		    <footer>
		    		<a href="" class="button signin">Post a Comment</a>
		    </footer>
		    </div>

</div>
