<div class="wrapper container_12 clearfix quotes">
<div class="grid_3">
	</div>

<!--
<div class="content grid_9 last">
	<div class="bar grid_9 first">

		<div class="search">
			<input type="search" title="Search" name="Search" placeholder="Search WQ"/>
			<input type="submit" alt="Search" class="search-btn" name="search-btn"/>
		</div>
	</div>
</div>
-->
<div class="grid_9 last">
		
	</div>

	<div class="grid_7 push_2">

		 

<blockquote class="single-nobg"><p>It is clear that the simple biomedical approach to serious psychiatric illnesses has failed.</p></blockquote>


<blockquote class="single"><p>It is clear that the simple biomedical approach to serious psychiatric illnesses has failed.</p></blockquote>

<blockquote class="double-nobg"><p>It is clear that the simple biomedical approach to serious psychiatric illnesses has failed.</p></blockquote>

<blockquote class="double"><p>It is clear that the simple biomedical approach to serious psychiatric illnesses has failed big time.</p></blockquote>


	</div>


	<div class="sidebar grid_2 last">
			</div>