<div class="header">
	<p>Wilson Quarterly</p>
	<nav class="mainNav">
		<ul>
			<li><a href="">Current Issue</a></li>
			<li><a href="">Essays</a></li>
			<li><a href="">In Essence</a></li>
			<li><a href="">Book Reviews</a></li>
			<li><a href="">Archives</a></li>
			<li><a href="">About</a></li>
		</ul>
	</nav>
	<div class="tout">
		<p>Subscribe to Wilson Quarterly</p>
	</div>	
	<div class="tout">
		<p>Download Our App</p>
	</div>	
</div>

<div class="content">
	<div class="tertLinks">
		<a href="">Login</a>
		<a href="">My Account</a>
		<input type="search" title="Search" name="Search" value="Search">
	</div>
	
	<p class="tagline">Surveying the world of ideas.</p>

	<article>
		<span class="slug">Summer 2012</span>
		<h1>Beyond the Brain</h1>
		<img src="http://placehold.it/400x300">
		<p>In the 1990s, scientists declared that schizophrenia and other psychiatric illnesses were pure brain disorders that would eventually yield to drugs. Now they are recognizing that social factors are among the causes, and must be part of the cure. Now they are recognizing that.</p>
		 
		<p>By the time I met her, Susan was a success story. She was a student at the local community college. She had her own apartment, and  she kept it in reasonable shape. She did not drink, at least not much, and she did not use drugs, if you did not count marijuana. She was a big, imposing black woman who defended herself aggressively on the street, but she had not been jailed for years. All this was striking because Susan clearly met criteria for a diagnosis of schizophrenia, the most severe and debilitating of psychiatric disorders. She thought that people listened to her through the heating pipes in her apartment. She heard them muttering mean remarks.</p>
		
		<p>To signal how much psychiatry had changed since its tweedy psychoanalytic days, the National Institute of Mental Health designated the 1990s as the “decade of the brain.”</p>
		
		<p>Psychoanalysis and even psychotherapy were said to be on their way out. Psychiatry would focus on real disease.</p>
		
		<a href="">Share</a>
		
	</article>
</div>

<div>
	<div>
		<h3>Related Articles</h3>
		<ul>
			<li>
				<h4><a href="">This is a Related Article</a></h4>
				<p>Read this article because it relates to this topic.</p>
			</li>
			<li>
				<h4><a href="">This is a Related Article</a></h4>
				<p>Read this article because it relates to this topic.</p>
			</li>
			<li>
				<h4><a href="">This is a Related Article</a></h4>
				<p>Read this article because it relates to this topic.</p>
			</li>
			<li>
				<h4><a href="">This is a Related Article</a></h4>
				<p>Read this article because it relates to this topic.</p>
			</li>
			<li>
				<h4><a href="">This is a Related Article</a></h4>
				<p>Read this article because it relates to this topic.</p>
			</li>
			<li>
				<h4><a href="">This is a Related Article</a></h4>
				<p>Read this article because it relates to this topic.</p>
			</li>
		</ul>
	</div>
	
	<div>
		<h3>From the Wilson Center</h3>
		<ul>
			<li>
				<h4><a href="">This is a Related Article</a></h4>
				<p>Read this article because it relates to this topic.</p>
			</li>
			<li>
				<h4><a href="">This is a Related Article</a></h4>
				<p>Read this article because it relates to this topic.</p>
			</li>
			<li>
				<h4><a href="">This is a Related Article</a></h4>
				<p>Read this article because it relates to this topic.</p>
			</li>
		</ul>
	</div>
</div>