/*
Colors:

Primary Blue: #0657af;
Secondary Blue: #478eda;
Highlight Yellow: #f6ea32;
Grey: #404040;
*/

/* Styles */
body {
	margin: 0 auto;
	padding: 0;
	font-family: "ff-tisa-web-pro", Helvetica Neue, Arial, Helvetica, sans-serif;
	color: #404040;
	font-size: 16px;
	line-height: 30px;
	background: url("/images/bg_pattern.jpg") repeat scroll 0 0 transparent
}

.wrapper {
	min-width:1024px;
}
.header {
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.mainNav ul {
	margin: 1px 0 20px;
	list-style-type: none;
	padding: 0;
	background-color: #eee;
	width: 168px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 1px 5px;
}

.mainNav ul:hover {
}

.mainNav li{
	line-height: 24px;
	font-size: 18px;
	border-radius: 6px;
	background: #fff;
	margin: 5px auto;
	padding: 0;
}

.mainNav a {
	color:#0657af;
	text-decoration: none;
	padding: 10px 20px 10px 10px;
	display: block;
	font-family: "ff-tisa-sans-web-pro"
}

.mainNav a:hover {
	background-color: #478eda;
	color: #fff;
	border-radius: 6px;
}

.mainNav ul li.active a {
	color: #f6ea32;
	background-color: #0657af;
	border-radius: 6px;
}

.tout {
	border-bottom: 1px dashed #ddd;
	padding-bottom: 20px;
	width: 178px;
}

.contentBlocks {
	    background: none repeat scroll 0 0 #478EDA;
}

.featureBlock {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px dashed #EEEEEE;
    float: left;
    padding: 20px;
    width: 341px;
    color: white;
    min-height: 270px;
}

.featureBlock:last-child {border: none;}

.featureBlock h3 {
	color: #0657af;
	margin-top: 0;
	font-family: "ff-tisa-sans-web-pro"
}

.featureBlock h4 {margin-bottom: 0; color: #f6ea32;	
}
.featureBlock h4 a {color: #f6ea32;font-family: "ff-tisa-web-pro"
}

.featureBlock .author {
	font-size: 12px;font-family: "ff-tisa-sans-web-pro";  color: #404040	
}

.featureBlock {font-size: 14px;}

.authorSpot {
	margin-top: 20px;
}

.authorSpot img {border: 5px solid white;
	float: left;
	width: 80px;
	margin-right: 20px;
}

.authorSpot p {
	float: left;
	width: 190px;
	margin-top: 0;
}


.app_promo {
	background: url(/images/app_promo.png) center 150px no-repeat #404040;
	padding: 10px 10px 120px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: white;
	position: relative;
	margin-top: 20px;
	border-bottom: 0;
}

.app_promo h3 {color: #f6ea32; margin-top: 0;}
.app_promo p {	font-family: "ff-tisa-sans-web-pro";}
.app_promo a {color: #478EDA};

.currentIssue img {
border: 1px solid #478EDA;
	}
	
.currentIssue img:hover {
	border-color: #f6ea32
}

.currentIssue p, .currentIssue h4 {
	margin: 0;
}
.tout p {
	font-size: 14px;
	line-height: 21px;
}

.header, .tout, .mainnav {
	margin-left: 30px;
}

.bar {	
	height: 45px;
	margin-bottom: 20px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	 background-color: #eee;
    
}

.home .bar {	

}
.bar a {
	border-left: 1px dashed #fff;
    color: #0657af;
    display: inline-block;
    font-size: 13px;
    line-height: 45px;
    padding: 0 10px;
    text-indent: 20px;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
}


.login {background: url(/images/login_icon.png) no-repeat 10px center ;}
.account {background: url(/images/account_icon.png) no-repeat 10px center;}

.bar a:hover {
	color: #fff;
	background-color: rgba(69, 144, 212, .7);
	border-right-color: #4b90d7}

.tagline {
	margin: 0;
	position: relative;
	text-transform: uppercase;
	font-family: "ff-tisa-sans-web-pro";
	color: #eee;
	background: url(/images/tagline-bg.png) no-repeat center top #404040;
	width: 178px;
	text-align: center;
	line-height: 24px;
	padding: 15px 10px 10px;
	font-size: 14px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.tertLinks {
	float: right;
	line-height: 40px;
/* 	width: 190px; */
}

.search {
    float: right;
    height: 45px;
    padding:0 15px 0 15px;
    width: 225px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input[type="search"] {
	-webkit-appearance: textfield;
	border: none;
	padding: 0px 5px;
	width: 155px;
	margin-top: 8px;
	background-color: #eee;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	background: #fff;
    line-height: 30px;
    height: 30px;
    float: left;
    margin-top: 5px\9;
}

.search-btn {
	height: 30px;
	width: 30px;
	background: url(/images/search_icon.png) no-repeat center center #0657af;
	border: 0;
	text-indent: -9999px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 8px 0;
	float: left;
	margin-top: 8px;
	margin-top: 5px\9;
}

.search-btn:hover, .search-btn:active {
	cursor: pointer;
	background-color: #404040;
}

.popular {margin-bottom: 30px; padding-bottom: 30px;}

.popular section {
	width: 50%;
	float: left;
background-color: #eee;	
	padding: 15px 20px;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

.popular #views {
	border-right: 1px dashed white;
}
.popular nav ul {
  text-align:center;
}
.popular nav li {
  display:inline;
  width: 50%;
  float: left;
}

/*
.switcher nav li a:first-child {
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}

.switcher nav li a:last-child {
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}
*/

.switcher nav a{
  display: block;
  text-decoration: none;
  color: #404040;}

.switcher nav a:hover{
  background-color: #478eda;
  color: white
}
/*

.switcher #wrap {
  position:relative;
  margin:0 auto;
}
.switcher #wrap section {
  position:absolute;
  width:100%;
  opacity:0;
  -webkit-transition:opacity .4s linear;
  -moz-transition:opacity .4s linear;
  -o-transition:opacity .4s linear;
}
.switcher #wrap section:target {
  opacity:1;
  z-index:1;
}
*/


#views h4{
	background: url(/images/icon-eye.png) no-repeat left center;
	padding-left: 30px
}

#comments h4 {
		background: url(/images/icon-comments.png) no-repeat left center;
			padding-left: 30px
}

.icon-inessence {
			background: url(/images/icon-inessence.png) no-repeat left center;
			padding-left: 30px
}

.icon-book {
			background: url(/images/icon-book.png) no-repeat left center;
			padding-left: 30px
}

.toc h2 {
	padding: 20px 0;
	font-family: "ff-tisa-web-pro";
	text-align: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

}

.toc h2 span {display: block; font-weight: normal;	color: #4590d4;text-transform: uppercase; font-size: 18px;}

.toc div{
	float: left;
	width: 45%;
}

.inEssence {
	margin-right: 10%;
}

.books .articles li h4 a img{
	float: left;
	margin: 0 10px 0 0;
	padding: 4px;
	border: 1px solid #eee;
	width: 60px;
}

.books .articles li p {margin: 0 0 0 80px}
.books .articles li p span {display: block;}
.books .articles li p span.author {margin-top: 5px}
.books .articles li h4 a img:hover{
background: #eee;
}

.articles h3, .articles h4 {
margin-bottom: 0;
}

.articles ul {
	padding: 0;
	list-style-type: none;
}

.articles li{
padding: 25px 0;
border-bottom: 1px dashed #ddd;

}
.articles li p {
	margin-top: 0;
   font-size: 14px;
    line-height: 21px;
}

.optionalAd {
	display: block;
	background: #404040;
	text-align: center;
	color: white;
	margin-bottom: 20px;
}

.curated, .popular {
	border-bottom: 1px solid #ddd;
}

.curated .articles li {
	padding-top: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px 0 0;
	border: none
}

.curated .articles li p {
	font-size: 14px;
	line-height: 21px;
}
.articles .author, .articles .details {display: block; color: #478eda; margin: 0; color: #777; font-size: 12px;font-family: "ff-tisa-sans-web-pro"; line-height: 21px;
}

.articles .author {
	color: #478eda;
}
.articles .source{
	text-transform: uppercase; color: #777; font-size: 12px;
}
.article {
	padding-top: 0px;
	position: relative;
}

.article p {
	margin-bottom: 20px;
}

.meta, .meta_end {
	border-bottom: 1px dashed #ddd;
	font-size: 12px;
	padding: 10px 0 15px;
	line-height: 20px;
	border-bottom: 1px dashed #ddd;
	font-family: "ff-tisa-sans-web-pro"
}

.meta_end {border-bottom: none;}

footer .slug, .read_est, .share {
	float: left;
	background: url(/images/readtime.png) no-repeat 5px center;
	font-size: 12px;
	display: inline-block;
	padding: 5px 8px;
	padding-left: 30px;
	background-color: #eee;
	float: left;
	border-radius: 6px;
	color: #404040}

.share {
    float: right;
    position: relative;
    background-image: url(/images/share_icon.png);
	margin-left: 10px;
}

.print, .rss { background: url("/images/print.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 0 4px;
    position: inherit;
    top: 3px;
    width: 16px;}

.rss {background-image: url(/images/rss.png);}

.read_est {
	float: left;
}

footer .slug {
	background-image: url(/images/slug_icon.png);
}

.slug:hover {
	color: #478eda;	
}

.home .hero .author {
	font-family: "ff-tisa-sans-web-pro"; color: #eee; font-size: 14px;
}


.slug { font-family: "ff-tisa-sans-web-pro", sans-serif;
}

.articleDetail .hero .slug, .articleDetail .hero h1 span, .articleDetail .hero .author {
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0,0,0, .7);
	padding: 10px 20px;
	box-sizing: border-box;
}

.articleDetail .hero h1.sans {
}

.articleDetail .hero .sans h1 span{
padding:17px 20px 10px;
font-family: "ff-tisa-sans-web-pro";
}

.hero .slug {
    color: white;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    border-top-right-radius: 6px;
    position: absolute;
    left: 0;
    padding: 5px 20px;
}


.hero p {font-family: "ff-tisa-sans-web-pro", sans-serif; color: white;
}

.articleDetail .hero .slug {
    top: 188px;

}

.articleDetail .hero h1 {
	position: absolute; 
	left: 0; 
	width: 100%; 
	top: 240px;
	color: #f6ea32;
}

h1.span {
	height: 48px;
}

.articleDetail .hero .author {
	position: absolute; 
	top: 328px;
	color: #478eda;
	border-bottom-right-radius: 6px;
	font-family: "ff-tisa-sans-web-pro";
	left: 0;
}

.articleDetail .hero .sans .slug {top: 208px;}

.articleDetail .hero .sans h1 {margin-top: 0;top:274px;}

.articleDetail .hero .sans .author {top: 329px;}

h1 span.spacer {
   padding:0 5px;

}

.headline p {position: absolute; left: 0;
	width: 100%;
}

.articleDetail .hero {
	position: relative; 
	width: 100%;
	height: 400px;
}

.home .hero {
	background: #404040;
}

.issueLanding .hero {
	background-color: #404040;
}

.home .hero img{
	float: left;
	width: 283px;
	-moz-box-sizing: border-box;
    border-right: 1px dashed #AAAAAA;
    box-sizing: border-box;
    overflow: auto;
}

.issueLanding .hero div img {padding: 0; margin: 20px 0 -60px; float: left}

.home .hero div {
	-moz-box-sizing: border-box;
    float: left;
    min-height: 340px;
    padding: 20px 40px 20px 40px;
    width: 480px;
    box-sizing: border-box;
    position: relative;
    color: white;
}

.issueLanding .hero div {width: 400px; margin: auto;}
.issueLanding .hero div a {margin: 20px 0 0 50px; float: left}
.issueLanding .hero p {font-size: 18px; text-align: center;padding: 0 50px; -moz-box-sizing: border-box; box-sizing: border-box;}

.issueLanding h1, .home .hero h2 {
	color:  #f6ea32;
	margin: 40px 0 30px;
	font-size: 42px;
	line-height: 50px;
	 font-family: "ff-tisa-web-pro";}
.issueLanding h1 {
	display: block;
	text-align: center;
	margin-top: 0px;
	
}
.issueLanding .hero .slug {    color: #4590D4;
    display: block;
    position: relative;
    text-align: center;
    padding-top: 20px;}

.home .hero h2 {
	margin: 40px 0 0;
}

.home .hero .author {color: #478eda;
	font-family: "ff-tisa-sans-web-pro";
}
.home .hero .slug {
    border-bottom-right-radius: 6px;
    padding-left: 40px;
    color: white;
   }
   
.rotator {
	background: #eee;
	margin-bottom: 30px;
}   

.rotator .slide {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 50px;
}
   
.slide .content {
	float: left;
	width: 300px;
}

.slide .content h2 {margin-top:0;}

.slide .slug, .articles .slug {	font-size: 12px;
	display: inline-block;
	padding: 5px 8px;
	background-color: #eee;
	border-radius: 6px;
	color: #404040;
	 line-height: 18px;
	 margin-bottom: 10px;}
	 
.slide .slug {
	background-color: #ddd;
}
.home .rotator .prev, .home .rotator .next {
    top: 165px;
    border: 5px solid white;
    border-radius: 50px;
}

.home .rotator .prev {
	left: -30px;
}

.home .rotator .next {
	right: -30px;
}
.slide .content a {margin-right: 10px;}
.slide img {
	float: right;
	border: 10px solid white;
}
   
.lead {
 	background-color: #404040;
    font-family: "ff-tisa-sans-web-pro";
    font-size: 18px;
    line-height: 32px;
    margin-top: 1px;
    padding: 20px;
    position: relative;
    border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	color: #eee;
	}

.lead:before, .issueLanding .hero div:before, .home .hero div:before, .app_promo:before, .featureBlock:before{
   content:"";
   position:absolute;
   top:0;
   right:0;
   border-width:0 16px 16px 0;
   border-style:solid;
   border-color:#ccc #fff;
}

.article > p:first-child:first-letter {
	font-size: 50px; 
	float: left; 
	margin: 20px 10px 0 0; 
	line-height: 0.4; 
	color: #0657af;
}

.raised-cap {
    color: #0657AF;
    font-size: 50px;
    font-weight: bold;
    padding-right: 5px;
}
.sidebar {
	font-size: 12px;
	line-height: 18px;
}

.sidebar div {
	border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 20px;
}

.sidebar ul {
	padding: 0;
	list-style-type: none;
}

.sidebar li {
padding-bottom: 5px
}

.sidebar h4 {
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 19px
}

.sidebar p {margin-top: 0;}


.footerWrap {
	background-color: #404040;
	width: 100%;
}

.footer p{
	color: #fff;
	font-size: 13px;
}

.social {
	padding: 0;
}
.social li {
	float: right;
	list-style-type: none;
}


.social li a {
	text-indent: -9999px;
	background: url(/images/social.png) no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin-left: 10px;
}

.social li a.fb {background-position: -32px 0}
.social li a.fb:hover {background-position: -32px -32px}
.social li a:hover {background-position: 0 -32px;}

.legal {
	line-height: 32px;
}
/* Typography */

h1 {font-size: 42px; margin-bottom: 0;color: #0657af;}

h1.logo{
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	height: 285px;
}

.logo a {	
	background: url(/images/logo_home.png) no-repeat;
	display: block;
    height: 285px;
    width: 178px;
}

.logo a:hover {background-position: left bottom;
	cursor: pointer;
}

.logo a {}

h2 {font-size: 24px; line-height: 32px; color: #0657af;font-family: "ff-tisa-sans-web-pro"}

h3 {font-size: 18px; line-height: 24px; color: #404040}

h3 a {color:#0657af;font-family: "ff-tisa-sans-web-pro";}

h4 {font-size: 16px; line-height: 21px; color: #0657af;margin-top: 0;}

a {color: #0657af;font-family: "ff-tisa-sans-web-pro";text-decoration: underline;}

a:hover {color: #478eda; cursor: pointer;}

ul {padding-left: 0;}

ol {padding-left: 0;counter-reset:li; /* Initiate a counter */ margin-left: 0;}

ol li {padding:4px 8px 4px 0;
	list-style-type: none;
}

ol > li:before {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    color: #404040;
    content: counter(li, decimal);
    counter-increment: li;
    display: inline-block;
    text-align: center;
    width: 30px;
    margin-right: 10px;
}
    
ul li {list-style-type: none;}


.button {
	border-radius: 6px;
	padding: 8px 10px;
	background: #0657af;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	font-family: "ff-tisa-sans-web-pro";
	line-height: 24px;
	height: 24px;
	display: inline-block;
}

.button-lg {
	font-size: 16px;
	border-radius: 6px;
	padding:10px 15px;
	background: #0657af;
	color: #fff;
	text-decoration: none;
	font-family: "ff-tisa-sans-web-pro";
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	 line-height: 21px;
}

.btn-icon {background: url(/images/sub-btn-icon.png) no-repeat 10px center #0657af; padding-left: 40px;}

.button:hover, .button:active, .button-lg:hover, .button-lg:active {
	background-color: #478eda;
	color: #f6ea32;
	text-decoration: none;
}

blockquote {
border-bottom: 1px dashed #CCCCCC;
    border-top: 1px dashed #CCCCCC;
    color: #0657AF;
    font-size: 32px;
    font-style: italic;
    line-height: 1.45;
    margin: 30px 0;
    padding: 0;
    position: relative;
}

blockquote:after {
  	background: none repeat scroll 0 0 #0657AF;
    border-radius: 50% 50% 50% 50%;
    color: #F6EA32;
    content: "\201C";
    font-family: Georgia;
    font-size: 135px;
    font-style: normal;
    height: 80px;
    left: 0;
    line-height: 150px;
    margin-left: -120px;
    margin-top: 29px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    top: 23px;
    width: 80px;
}

.premium {
	background: url(/images/icon-premium.png) no-repeat center center;
	font-family: "ff-tisa-sans-web-pro", sans-serif;
	margin-left: 10px;
	width: 16px;
	height: 16px;
	display: inline-block
}

.article blockquote p { 
	margin: 0;
    padding: 20px 0;
    position: relative;}

/* Landing Page */

.issue-contents {
	list-style-type: none;
	padding: 10px 0 0 0;
	position: relative;
	background: #eee;
	margin-top: 0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.issue-contents li {
	float: left;
	width: 50%;
	-moz-box-sizing:border-box;
	padding: 0 20px;
	box-sizing: border-box;
	margin: 20px 0;

}

.issue-contents li img {
	float: left;
	margin-right: 10px;
	border: 5px solid white;
	width: 120px;
	height: 80px;
}

.issue-contents h3 {
	margin: 0;
	color: #0657AF
}

.issue-contents span {	font-family: "ff-tisa-sans-web-pro", sans-serif;
font-size: 14px;
}


/* Carousel Styles */

.carousel {
	border-top: 1px solid rgba(71, 147, 202, .2);
	border-bottom: 1px solid rgba(71, 147, 202, .2);
	position: relative;
	margin: 50px 0 50px 10px;
}

#navigation {
	position: relative;
}
.prev, .next {
height: 50px;
    position: absolute;
    top: 45px;
    width: 50px;
}

.prev {background: url(/images/prev.png)}
.next {right: 0; background: url(/images/next.png)}

.prev:hover, .next:hover, .prev:active, .next:active {background-position: center bottom; cursor: pointer;}

#slider {
	margin: auto;
	width: 880px;
}

.carousel h2 {
	margin-top: 30px}

.carousel ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.carousel ul li {
	float: left;
	width: 200px;
	margin: 10px;
}

.carousel ul li img {
box-sizing: border-box;
border: 5px solid white;
}
.carousel ul li span {
	font-size: 11px;
	background: #eee;
	padding: 5px 8px;
	border-radius: 6px;
}
.carousel ul li h3 {
	margin-top: 5px;
}

/* Comment Styles  */

.discussion {
    margin-bottom: 30px;
}

.discussion header h2 {
	float: left;
}

.discussion header .button {
	float: right;
}

.comments {
	border-top: 1px dashed #DDDDDD;
    padding-top: 20px;
    position: relative;
}

header .signin {
}

.text p {
    margin: 0 0 1em;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px dashed #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    bottom: -0px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: #478eda;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}



/* =Clearfix (all browsers)
--------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* IE6 */ 
* html .clearfix {height: 1%;}
/* IE7 */
*:first-child+html .clearfix {min-height: 1px;}

.lt-ie9 .search input {height: 35px;}