.quotes .footerWrap {
display: none;
}

.quotes h3 {
	margin-top: 140px;
}
.quotes {
}

/**
 *  Colors:
 */
$primary_blue: #0657af;
$secondary_blue: #478eda;
$highlight_yellow: #f6ea32;
$grey_text: #404040;
$grey_bg: #404040;
$white: #fff;
$image_path: '' !default;
$serif: "ff-tisa-web-pro", georgia, serif;
$sans: "ff-tisa-sans-web-pro", Helvetica Neue, Arial, Helvetica, sans-serif;
$primary_blue_light: lighten( $primary_blue, 40%);
$secondary_blue_light: lighten( $secondary_blue, 40%);
$secondary_blue_dark: darken( $secondary_blue, 10%);


.block.restricted {
	background: url("#{$image_path}/images/premium-lock.png") no-repeat scroll 30px center #0657AF!important;
  @include border-radius(6px);
  margin: 20px 0!important;
  padding: 10px 10px 10px 80px!important;
}
.block.restricted:hover {
	background-image: url("#{$image_path}/images/premium-unlock.png")!important;
}
.block.restricted h3 {
	color: #F6EA32;
  margin-bottom: 10px;
}
.block.restricted p {
  color: white;
  margin: 0;
}
.block.restricted a {
    color: #F6EA32;
}
.block.restricted a:hover {
	color: white;
}

.high-contrast{
  background-color: $grey_bg;
  color: #fff;

  a{
    color: $highlight_yellow;
  }
}

/* Styles */
body {
	margin: 0 auto;
	padding: 0;
	font-family: $serif;
	color: $grey_text;
	font-size: 16px;
	line-height: 30px;
	background: url("#{$image_path}/images/bg_pattern.jpg") repeat scroll 0 0 transparent
}

a {text-decoration: none}
input,
textarea {
    margin:0;
}

.page {
	ul li {float: left; margin-right: 10px;}
	a {padding: 7px 10px 5px;background: white; color: $primary_blue; border-radius: 6px;border: 1px solid $primary_blue}
	a:hover {color: white; text-decoration: none; background: $secondary_blue}
	.page-prev a, .page-next a {background: $primary_blue; color: $highlight_yellow;}
	.current {background: $primary_blue; color: white; }
	.page-prev a.disabled,.page-next a.disabled,.disabled:hover {background: #ddd; color: #777; cursor: default; border: none}
}

hr {
	border : 0;
    height : 15px;
    background: $secondary_blue_light;
    margin : 2em 0;
}

.contrast {
	background: $grey_bg;
	padding: 10px 20px;
	color: white;
		display: inline-block;

	a {color: $highlight_yellow;}
	a:hover {color: white;}
	h1 {color: $highlight_yellow;}
	h2,h3 {color: $highlight_yellow;}
}

.seperate {
	padding: 5px 0;
	border-top: 1px dashed #eee;
}
h1.contrast {	color: $highlight_yellow;
padding: 10px;}
.contrast .contrast h2, .contrast h3{
	color: $secondary_blue
}

label {
	font-family: $sans;
	font-weight: bold;
	font-size: 14px;
}

input {
	font-family: $sans
}
input[type=text], textarea,input[type=password] {
	-webkit-appearance: textfield;
	border: none;
	padding: 10px 10px;
	background-color: #fff;
	border-radius: 6px;
	background: #fff;
    @include box-sizing('border-box');
    border: 1px solid #ddd;
    font-size: 16px;
    font-family: $sans
}
.wrapper {
	min-width:1024px;
	position: relative;
}
.header {
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.mainNav ul {
	margin: 1px 0 20px;
	list-style-type: none;
	padding: 0;
	background-color: #eee;
	width: 168px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 1px 5px;
}

.mainNav ul:hover {
}

.mainNav li{
	line-height: 24px;
	font-size: 18px;
	border-radius: 6px;
	background: #fff;
	margin: 5px auto;
	padding: 0;
}

.mainNav a {
	color: $primary_blue;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	font-family: $sans;
}

.mainNav a:hover {
	background-color: $secondary_blue;
	color: #fff;
	border-radius: 6px;
	text-decoration: none
}

.mainNav ul li.active a {
	color: $highlight_yellow;
	background-color: $primary_blue;
	border-radius: 6px;
}

.tout {
	border-bottom: 1px dashed #ddd;
	padding-bottom: 20px;
	width: 178px;
}

.tout h3 {
	font-size: 18px
}
.contentBlocks {
	    background: none repeat scroll 0 0 $secondary_blue;
	    margin-top: 50px;
}

.featureBlock {
    @include box-sizing('border-box');
    border-right: 1px dashed #EEEEEE;
    float: left;
    padding: 20px;
    width: 33.3333%;
    color: white;
    height: 320px;
    font-size: 16px;
}

.featureBlock:last-child {border: none;}

.featureBlock h3 {
	color: #eee;
	margin-top: 0;
	font-family: $sans;
}

.featureBlock h4 {margin-bottom: 0; color: $highlight_yellow;	font-size: 18px;
}
.featureBlock h4 a {
  color: $highlight_yellow;font-family: $serif;
}
.featureBlock h4 a:hover {color: #fff}
.featureBlock .author {
	font-size: 14px;font-family: $sans;  color: $grey_text
}
.featureBlock p {}
.featureBlock a {color: $highlight_yellow; }
.featureBlock a:hover {color: $highlight_yellow;}
.authorSpot {
	margin-top: 20px;
}

.authorSpot img {border: 5px solid white;
	float: left;
	width: 80px;
	margin-right: 20px;
}

.authorSpot p {
	float: left;
	width: 190px;
	margin-top: 0;
}


.app_promo {
	background: url("#{$image_path}/images/app_promo.png") center 150px no-repeat $grey_bg;
	padding: 10px 10px 120px 10px;
	@include box-sizing('border-box');



	color: white;
	position: relative;
	margin-top: 20px;
	border-bottom: 0;
}

.app_promo h3 {color: $highlight_yellow; margin-top: 0;}
.app_promo p {	font-family: $sans;}
.app_promo a,.app_promo a:hover{color: $highlight_yellow};
.currentIssue img {
border: 1px solid $secondary_blue;
	}

.currentIssue img:hover {
	border-color: $highlight_yellow;
}

.currentIssue p, .currentIssue h4 {
	margin: 0;
}
.tout p {
	font-size: 14px;
	line-height: 21px;
}

.header, .tout, .mainnav {
	margin-left: 30px;
}

.login {
	position: absolute;
	top:0;
	right: 20px;
	z-index: 9999;
}

.home .login {position: relative;}

.home .login a {}
.login a {background: url("#{$image_path}/images/login_icon.png") no-repeat 10px center rgba(0,0,0,.8);
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
	text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    height: 40px;
    line-height: 43px;
    display: block;
    text-indent: 25px;
    color: #eee;
    font-size: 13px;
}

.account {background: url("#{$image_path}/images/account_icon.png") no-repeat 10px center;}

.login a:hover {
	color: #fff;
	background-color: rgba(69, 144, 212, .8);
	border-right-color: #4b90d7}

.tagline {
	margin: 0;
	position: relative;
	text-transform: uppercase;
	font-family: $sans;
	color: $highlight_yellow;
	background: url("#{$image_path}/images/tagline-bg.png") no-repeat center top $grey_bg;
	width: 178px;
	text-align: center;
	line-height: 21px;
	padding: 15px 10px 10px;
	font-size: 14px;
	@include box-sizing('border-box');



}


.tertLinks {
	float: right;
	line-height: 40px;
}

.search {
    width: 178px;
    padding-top: 20px;
}

input[type="search"] {
	-webkit-appearance: textfield;
	border: none;
	padding: 0px 2px;
	width: 178px;
	background-color: #fff;
	border-radius: 6px;
	background: #fff;
    height:40px;
    float: left;
    margin-top: 5px;
     @include box-sizing('border-box');



    border: 1px solid #ddd;
    font-size: 14px;
    text-align: left;
    padding-right: 38px;
}

.search .button {
	height: auto
}

.search .btn-icon {
	background-image: url("#{$image_path}/images/search_icon.png");
	float: left;
    margin-left: -40px;
    margin-top: 5px;
    padding: 0 15px 0 20px;
    text-indent: -999px;
}

.signin .btn-icon {
		background-image: url("#{$image_path}/images/login_icon.png")
}

input[type="submit"] {
	border: 0;
}

.popular {margin-bottom: 30px; padding-bottom: 30px;}

.popular section {
	width: 50%;
	float: left;
background-color: #eee;
	padding: 15px 20px;

	@include box-sizing('border-box');

}

.popular #views {
	border-right: 1px dashed white;
}
.popular nav ul {
  text-align:center;
}
.popular nav li {
  display:inline;
  width: 50%;
  float: left;
}

#views h4{
	background: url("#{$image_path}/images/icon-eye.png") no-repeat left center;
	padding-left: 30px
}

#comments h4 {
		background: url("#{$image_path}/images/icon-comments.png") no-repeat left center;
			padding-left: 30px
}

.icon-inessence {
			background: url("#{$image_path}/images/icon-inessence.png") no-repeat left 5px;
			padding-left: 30px
}

.icon-book {
			background: url("#{$image_path}/images/icon-book.png") no-repeat left 5px;
			padding-left: 30px
}

.toc h2 {
	padding: 20px 0;
	font-family: $serif;
	text-align: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.toc h3 {
	border-bottom: 1px dashed #eee;
	padding-bottom: 15px;
	margin-bottom: 5px;
	font-family: $serif
}

.toc h2 span {display: block; font-weight: normal;	color: #4590d4;text-transform: uppercase; font-size: 18px;}

.toc div{
	float: left;
	width: 45%;
}

.toc header p {
    line-height: 1.5em;
    margin-top: 0;
    padding-top: 5px;
}
.inEssence {
	margin-right: 10%;
}

.books .articles li h4 a img{
	float: left;
	margin: 0 10px 0 0;
	padding: 4px;
	border: 1px solid #eee;
	width: 60px;
}

.books .articles li p {margin: 0 0 0 80px}
.books .articles li p span {display: block;}
.books .articles li h4 a img:hover{
background: #eee;
}

.articles h3, .articles h4 {
margin-bottom: 0;
}

.articles ul {
	padding: 0;
	list-style-type: none;
}

.articles li{
padding: 25px 0;
border-bottom: 1px dashed #ddd;

}
.articles li p {
	margin: 0 0 5px;
   font-size: 14px;
    line-height: 21px;
}

.optionalAd {
	display: block;
	background: #025aa7;
	text-align: center;
	color: #eee;
	margin-bottom: 20px;
}

.home-horz .optionalAd {background-color: $grey_bg;}
.optionalAd .double {color: white; border: 0;margin: 0;padding: 40px 70px}
.optionalAd .double:before, .optionalAd .double:after {background-color: #FFFFFF;
    color: $secondary_blue;
 margin-left: 0px;width: 60px; height: 60px; font-size: 90px; line-height: 110px}
.optionalAd .double:before {left: -30px;
    top: 38%;}
.optionalAd .double:after {right: 0;
    top: 38%;margin-left: 45px}
.optionalAd .double cite {color: $highlight_yellow}
.optionalAd cite a {color: $highlight_yellow}
.curated .articles li {
	padding-top: 0;


	@include box-sizing('border-box');

	padding: 0 10px 0 0;
	border: none
}

.curated .articles li p {
	font-size: 14px;
	line-height: 21px;
}
.articles .author, .articles .details {display: block; color: $secondary_blue; margin: 0; color: #777; font-size: 12px;font-family: $sans; line-height: 21px;
}

.articles .author {
	color: $secondary_blue;
}
.articles .source{
	text-transform: uppercase; color: #777; font-size: 12px;
}
.article {
	padding-top: 0px;
	position: relative;
}

.article p {
	margin-bottom: 20px;
}

.meta, .meta_end {
	border-bottom: 1px dashed #ddd;
	font-size: 12px;
	padding: 0 0 15px;
	line-height: 20px;
	border-bottom: 1px dashed #ddd;
	font-family: $sans
}

.meta_end {border-bottom: none;}


footer .slug, .read_est, .share, .commentLink, .meta .pdf, .meta .slug {
	float: left;
	background: url("#{$image_path}/images/readtime.png") no-repeat 5px center;
	font-size: 12px;
	display: inline-block;
	padding: 5px 8px;
	padding-left: 30px;
	background-color: #eee;
	float: left;
	border-radius: 6px;
	color: $grey_text}
.meta .slug {
	padding: 7px 8px 7px 30px;
	margin-right: 10px;
		background-image: url("#{$image_path}/images/slug_icon.png");
}
.share {
    float: right;
    position: relative;
    background-image: url("#{$image_path}/images/share_icon.png");
	margin-left: 10px;
}

.commentLink, .meta .pdf {
	background-image: url("#{$image_path}/images/icon-comments.png");
	margin-left: 10px;
	padding: 7px 8px 7px 30px;
	float: right
}

.meta .pdf {
	background-image: url("#{$image_path}/images/icon-pdf.png");
	float: left;
}

.print, .rss { background: url("#{$image_path}/images/print.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 0 4px;
    position: inherit;
    top: 3px;
    width: 16px;}

.rss {background-image: url("#{$image_path}/images/rss.png");}

.read_est {
	float: left;
	padding: 7px 8px 7px 30px;
}

footer .slug {
	background-image: url("#{$image_path}/images/slug_icon.png");
}

.slug:hover {
	color: $secondary_blue;
}



.slug { font-size:$sans; background-color: #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    color: #404040;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
    padding: 5px 8px;
}

.articleDetail .hero .slug, .articleDetail .hero h1 span, .articleDetail .hero .author,.home .hero h2 span, .home .hero .slug, .home .hero .author{
	background: rgb(0, 0, 0);
	background: rgba(0,0,0, .7);
	padding: 10px 20px;
	@include box-sizing('border-box');



}

.home .hero-vert h2,.home .hero-vert .slug, .home .hero-vert .author {
	background: none;
	padding: 10px 20px 0 30px;
}


.hero .slug, .hero-vert .slug, .home .hero .slug{
    color: white;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    border-top-right-radius: 6px;
    position: absolute;
    left: 0;
    padding: 5px 20px;
    background: none
}

.hero-issue .slug {background: none;}

.hero-vert .slug,.hero-vert .author, .hero-vert h1 {
	padding: 5px 30px;
}

.hero p {font-family: $sans; color: white;
}

.articleDetail .hero .slug, .home .hero .slug {
    top: 216px;
}
.hero-vert .slug {
   left: 381px;
    top: 37px;
    z-index: 9999;
}

.home-horz .lead h2 {
	margin: 0 0 5px;
}

.hero h2 a:hover {color: white}
.home-horz .lead h2 a {
	color: $highlight_yellow;
	font-size: 42px;
	font-family: $serif;
}
.home-horz .lead span {
	display: block;
    margin-bottom: 20px;
}
.home .hero h2 {top:280px; margin: 0;}
.home-horz .hero h2 span {padding: 5px 20px 8px}
.hero-vert h1, .hero-vert h2, {
 	color: $highlight_yellow;
    left: 381px;
    position: absolute;
    top: 40px;
    z-index: 9999;
    line-height: 48px;}
.hero-vert h1 a {
	 	color: $highlight_yellow;
	 	font-family: $serif;

}
.articleDetail .hero h1, .home .hero h2, .block h2 a,  {
	position: absolute;
	left: 0;
	width: 100%;
	top: 250px;
	color: $highlight_yellow;
	font-size: 42px;
	font-family: $serif;
}
.home-horz .hero .block {
	background: rgb(0, 0, 0);
	background: rgba(0,0,0, .8);
	padding: 10px 30px 15px 20px;
	@include box-sizing('border-box');



	position: absolute;
	z-index: 1;
	top: 250px;
	border-top-right-radius: 6px
}



 .hero-vert h2 {top: 78px;}
 .home .hero-vert .slug {top: 29px;}
 .home .hero-vert h2 {top: 43px; line-height: 36px}
 .home .hero-vert .author {top: 155px;}
 .hero-vert h2 a {color: $highlight_yellow; font-size: 35px;font-family: $serif;}
/*   .hero-vert h2 a:hover {color: $secondary_blue} */
  .hero-vert h2 span{padding: 20px;}
  .vert .lead {padding-left: 0; padding-top: 5px;}
  .home .vert .lead {padding-top: 0; border: 0}
h1.span {
	height: 48px;
}

.articleDetail .hero .author, .home .hero .author {
	position: absolute;
	top: 328px;
	color: $secondary_blue;
	border-bottom-right-radius: 6px;
	font-family: $sans;
	left: 0;
}
.home .hero .author {
	top:339px
}

.hero-vert .author{
  border-bottom-right-radius: 6px;
    color: $secondary_blue;
    font-family: $sans;
    left: 381px;
    position: absolute;
    top: 178px;
    z-index: 9999;}
    .home .vert {padding:230px 30px 0px}
    .vert h3 {color: $secondary_blue;padding-top: 10px; margin-bottom: 0; }
/*     .home .vert h3, .home .vert p, .home .vert ul {padding-left: 30px; padding-right: 30px} */

    .home .vert h3, .home .lead h3 {
    color: $secondary_blue;
    margin-bottom: 0;
    margin-top: 40px;
    padding-top: 20px;}
     .home .lead h3 {margin-top: 20px}
    .vert a, .home .lead a {color: $highlight_yellow }
    .vert .hero-related, .home .hero-related {font-size: 14px;}
    .vert  {
	    color: white;
    }
    .home-horz .lead h3{}


        .home .hero-related li {width: 33%;
 @include box-sizing('border-box');
  padding: 0 10px 0 0; margin-right: 0;float: left}

            .home .vert .hero-related li {
	    float: left;
	    text-align: left;
	     width: 100%;
	     padding: 0
    }

/*     .home  .hero-related li a:hover {color: white} */
.articleDetail .hero .sans .slug {top: 208px;}

.articleDetail .hero .sans h1 {margin-top: 0;top:274px;}

.articleDetail .hero .sans .author {top: 329px;}

h1 span.spacer {
   padding:0 5px;

}

.headline p {position: absolute; left: 0;
	width: 100%;
}

.articleDetail .hero, .home .hero{
	position: relative;
	width: 100%;
	height: 400px;
}

.hero-vert {
	 width: 380px;
	 height: 570px;
	 float: left;
	 background-color: $grey_bg;
 }
.home .hero {
	background: $grey_bg;
	height:400px
}
.home .lead {border-radius: 0;}

.issueLanding .hero {
	background-color: $grey_bg;
	position: relative;
}

.home .hero-vert img{
	float: left;
/* 	width: 283px; */


    border-right: 1px dashed #AAAAAA;
    @include box-sizing('border-box');

}

.issueLanding .hero div img {padding: 0; margin: 10px 0 20px; float: left}

.home .hero-vert div {


    float: left;
    min-height: 340px;
    padding: 20px 40px 20px 40px;
    width: 480px;
    @include box-sizing('border-box');

    position: relative;
    color: white;
}

.issueLanding .hero div {width: 400px; margin: auto;}
.issueLanding .hero div a {margin: 20px 0 0 20px; float: left}
.issueLanding .hero p {font-size: 18px; text-align: center;padding: 0 50px;
 @include box-sizing('border-box');
}

.issueLanding h1,{
	color:  $highlight_yellow;
	margin: 40px 0 30px;
	font-size: 42px;
	line-height: 50px;
	 font-family: $serif;}
.issueLanding h1 {
	display: block;
	text-align: center;
	margin-top: 0px;

}
.issueLanding .hero .slug {    color: #4590D4;
    display: block;
    position: relative;
    text-align: center;
    padding-top: 20px;}

.hero-issue {
	background-color: $grey_bg;
}

.hero-issue header {
	text-align: center;
	padding: 40px 0 0px;
	border-bottom: 1px dashed #555;
}
.hero-issue .slug{
color: white;
}

.hero-issue p {color: white; padding: 20px 80px; text-align: center;font-family: $sans; font-size: 16px;}

.hero-issue a.button-lg {
margin-left: 20px;
}
.hero-issue img.cover {float: left; width: 40%; margin: 30px 5% 0; border: 5px solid #333; @include box-sizing('border-box');
}


.hero-vert img {
	float: left;
}

.rotator {
	background: #eee;
	margin-bottom: 30px;
}

.home .rotator {margin-bottom: 0}
.rotator .slide {
	@include box-sizing('border-box');



	padding: 30px 50px;
	height: 321px;
}

.rotator .slide.quote {	background:url("#{$image_path}/images/blockquote_bg.jpg") repeat scroll 0 0 #EEEEEE;}

.slide .content {
	float: left;
	width: 300px;
}

.content h3, .content h2 a {color: $primary_blue; margin-bottom: 0;}
.content a {color: #eee}

.slide .content h2 {margin-top:0;}

.slide .slug, .articles .slug {	font-size: 12px;
	display: inline-block;
	padding: 5px 8px;
	background-color: #eee;
	border-radius: 6px;
	color: $grey_text;
	 line-height: 18px;
	 margin-bottom: 10px;}

.slide .slug {
	background-color: #ddd;
}
.home .rotator .prev, .home .rotator .next {
    top: 130px;
    border: 5px solid white;
    border-radius: 50px;
}

.home .rotator .prev {
	left: -30px;
}

.home .rotator .next {
	right: -30px;
}
/* .slide .content a {margin-right: 10px;} */
.slide img {
	float: right;
	border: 10px solid white;
}

.lead {
 	background-color: $grey_bg;
    font-family: $sans;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0px;
     border-top: 1px dashed #555555;
    padding: 20px;
    position: relative;
    border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	color: #eee;
	}

.lead p {
	margin: 0;
	float: left;
	width: 65%;
}

.home-horz .hero-related {
	float: left;
	width: 35%;
	margin-top: 0;
	padding: 0 20px;
	@include box-sizing('border-box');

}

.home-horz .hero-related h3 {
	margin-top: 0;
	padding: 0 0 7px;
}

.home-horz .hero-related li {
	width: 100%;
	line-height: 30px;
}

.vert {
	@include box-sizing('border-box');

    border-bottom-left-radius: 0;
    border-left: 1px dashed #555;
    float: left;
    margin-top: 0;
    padding: 235px 30px 30px;
    width: 50%;
    position: relative;
    background-color: $grey_bg;
}

.home-horz .hero .block h2,.home-horz .hero .block h2 a,.home-horz .hero .block h2 span, .home-horz .hero .block .slug,.home-horz .hero .block .author, .articleDetail div.lead .slug, .articleDetail div.lead h2, .articleDetail div.lead .author{
	position: relative;
	top: 0;
	background: none;
	padding-left: 0
}

.articleDetail div.lead {margin-bottom: 20px}
div.lead .slug {color: #fff; font-size: 12px; text-transform: uppercase;}

div.lead h1 { color: $highlight_yellow;
    font-family: $serif;
    margin: -10px 0 10px;
    line-height: 50px;
    position: relative}

div.lead .author {color: $secondary_blue;}

div.lead .slug {float: right; line-height: 36px;
}
.articleDetail div.lead p{
	width: 100%;
	float: none;
	margin-top: 20px;
}

.home-horz .hero .block h2 {
	margin: 10px 0 15px;
}
.issueLanding .hero-vert {
	float: right;
	width: 50%;
}

.issueLanding .hero-vert .slug, .issueLanding .hero-vert h1 {
	left: 0;
}

.issueLanding .hero-vert .slug {
	top: 47px;
}

.issueLanding .hero-vert h1 {
	top: 107px;
}
.issueLanding .vert, .issueLanding .hero-vert {
	height: 512px;
}

.issueLanding .vert {
	padding-top: 195px;
	border-right: none;
	border-left: none;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}

.issueLanding .vert .button-lg {
	   display: table;
    margin-top: 20px;
}
.issueLanding .hero-vert img {
	width: 380px;
}
/* .articleDetail .lead:before, .home .hero div:before, */ .app_promo:before, .featureBlock:before, .home-vert .optionalAd:before {
   content:"";
   position:absolute;
   top:0;
   right:0;
   border-width:0 16px 16px 0;
   border-style:solid;
   border-color:#ccc #fff;
}

.article > p:first-child:first-letter {
	font-size: 50px;
	float: left;
	margin: 20px 10px 0 0;
	line-height: 0.4;
	color: $primary_blue;
}

.raised-cap {
  color: $primary_blue;
  font-size: 50px;
  font-weight: bold;
  padding-right: 5px;

}
.sidebar {
	font-size: 12px;
	line-height: 18px;
}

.sidebar > div {
	border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 20px;
}

.sidebar ul {
	padding: 0;
	list-style-type: none;
}

.sidebar li {
padding-bottom: 5px
}

.sidebar h3, .sidebar-h3 {
	font-size: 18px;
}
.sidebar h4, .sidebar-h4 {
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 19px;
  font-weight: bold;
}

.sidebar p, .sidebar-p {margin-top: 0;}


.footerWrap {
	background-color: $grey_bg;
	width: 100%;
  font-family: $serif;
  color: #ddd;
  font-size: 13px;
  line-height: 21px;
  font-family: $sans
}

.footerWrap a {
	color: $highlight_yellow;
}
.index .footerWrap {
	display: none;
}

.footer {
	padding: 20px 0;
}

.footer p{
	font-size: 11px;

}

.address {
	margin-top: 10px;
	font-size: 11px;
}
.address span {
	display: block
}
.address span:first-child {
	color: white;
	text-transform: uppercase;

}

.social {
	padding: 0;
}
.social li {
	float: left;
	list-style-type: none;
}


.social li a {
	text-indent: -9999px;
	background: url("#{$image_path}/images/social.png") no-repeat;
	width: 32px;
	height: 32px;
	display: block;
	margin-left: 10px;
}

.social li a.fb {background-position: -32px 0}
.social li a.fb:hover {background-position: -32px -32px}
.social li a:hover {background-position: 0 -32px;}


/* Typography */

h1 {font-size: 42px;color: $primary_blue;}

h1.logo{
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	height: 285px;
}

.logo a {
	background: url("#{$image_path}/images/logo_home.png") no-repeat;
	display: block;
    height: 285px;
    width: 178px;
}

.logo a:hover {background-position: left bottom;
	cursor: pointer;
}

.logo a {}

h2 {font-size: 24px; line-height: 32px; color: $primary_blue; font-family: $sans}

h3 {font-size: 21px; line-height: 24px; color: $grey_text; font-family: $serif}

h3 a {color:$primary_blue;font-family: $sans;}

h4 {font-size: 16px; line-height: 21px; color: $primary_blue;}

a {color: $primary_blue;font-family: $sans;}
p a {font-family: $serif}

a:hover {color: $secondary_blue; cursor: pointer; text-decoration: underline;}

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -o-pre-wrap;
 font-size: 13px;
}
code {
 display: block;
 padding: 0.5em 1em;
 border: 1px solid #bebab0;
 font-family: $sans
}
ul {padding-left: 0; list-style-type: none;}

ol {padding-left: 0;counter-reset:li; /* Initiate a counter */ margin-left: 0;}

ol li {padding:4px 8px 4px 0;
	list-style-type: none;
}

ol > li:before {


    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 6px 6px 6px 6px;
    color: $grey_text;
    content: counter(li, decimal);
    counter-increment: li;
    display: inline-block;
    text-align: center;
    width: 30px;
    margin-right: 10px;
}

ul li {color: $secondary_blue_dark}
ul li p {color: $grey_text}

dl {}
dt {font-weight: bold; color: $primary_blue}
dd {margin: 0; color: $secondary_blue_dark}

fieldset {border: 0; padding: 0}
legend {padding: 0; font-weight: bold; font-family: $sans; color: $primary_blue}
.button {
	border-radius: 6px;
	padding: 8px 10px 6px;
	background: $primary_blue;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	font-family: $sans;
	line-height: 24px;
	height: 24px;
}

.button-lg {
	font-size: 16px;
	border-radius: 6px;
	padding:8px 15px;
	line-height:40px;
	background: $primary_blue;
	color: #fff;
	text-decoration: none;
	font-family: $sans;


	@include box-sizing('border-box');

}

.btn-icon {background: url("#{$image_path}/images/sub-btn-icon.png") no-repeat 10px center $primary_blue; padding: 10px 10px 8px 40px; line-height:30px;}

table {border: 1px solid $secondary_blue_light}
table{border-radius: 6px}
th {background-color: $primary_blue; color: white;}

th, td {padding: 10px 15px}

td {background: white}
.sidebar .tout{
  margin-left: 0;
}
.even td{ background-color:$secondary_blue_light;
}
.button:hover, .button:active, .button-lg:hover, .button-lg:active {
	background-color: $secondary_blue;
	color: $highlight_yellow;
	text-decoration: none;
}
.disabled,.disabled:hover  {background-color: #ddd; color: #777;cursor: default;}

blockquote {
	border-bottom: 1px dashed #eee;
    border-top: 1px dashed #eee;
    color: $primary_blue;
    font-size: 24px;
    font-style: italic;
    line-height: 1.45;
    margin: 30px 0;
    padding: 0;
    position: relative;
    font-family: $serif;
}

.single:before, .single-nobg:before {
	background: none repeat scroll 0 0 $primary_blue;
    border-radius: 50% 50% 50% 50%;
    color: $highlight_yellow;
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 100px;
    font-style: normal;
    height: 60px;
    line-height: 114px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    width: 60px;
    margin-left: -100px;
    margin-top: 28px;
}

.single:before {
	margin-left: -30px;
	bottom: 20px;
	content: "\201D";
}

.single {
	padding-bottom: 80px;
	text-align: center;
}

.single-nobg:before {
	background: none;
	color: $primary_blue
}

blockquote.double,blockquote.double-nobg {
	padding: 70px 20px 65px; text-align: center
}

blockquote.double cite { color: $grey_text;
    display: block;
    font-style: normal;
    font-size: 21px;
    margin: 10px 0;
}

.slide blockquote cite {color: $primary_blue;
    font-size: 16px;
    margin: 20px 0;
}

.slide blockquote cite a {
	    color: $primary_blue;
    }

blockquote.double:after, blockquote.double:before {
  	background: none repeat scroll 0 0 $primary_blue;
    border-radius: 50% 50% 50% 50%;
    color: $highlight_yellow;
    font-family: Georgia, serif;
    font-size: 90px;
    font-style: normal;
    height: 55px;
    line-height: 102px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    width: 55px;
}

blockquote.double:before,blockquote.double-nobg:before {
    top: 5%;
    content: "\201C";
    left: 0
}
blockquote.double:after,blockquote.double-nobg:after {
	left: 90%;
    bottom: 5%;
    content: "\201D";
}

blockquote.double-nobg:after, blockquote.double-nobg:before {
  	background: none;
    border-radius: 50% 50% 50% 50%;
    color: $primary_blue;
    font-family: Georgia, serif;
    font-size: 90px;
    font-style: normal;
    height: 55px;
    line-height: 100px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    width: 55px;
}
blockquote.double-nobg {
	padding: 40px 20px
}
.featureBlock blockquote {
    border: 0 none;
    color: white;
    font-size: 18px;
    line-height: 32px;
    padding-top: 35px;
    text-align: center;
}

blockquote.side {
    float: left;
    font-size: 21px;
    margin-left: -231px;
    margin-top: 10px;
    padding: 10px 0;
    width: 178px;
    text-align: right;
}


blockquote.side:after {
     left: 120px;    top: 106%; background-color: #eee;color: $grey_text;
}

blockquote.side:before {  left: 120px; background-color: #eee; color: $grey_text;margin-top: -27%;}

.featureBlock blockquote:after, .featureBlock blockquote:before {
    font-family: Georgia;
    font-size: 75px;
    font-style: normal;
    height: 45px;
    line-height: 85px;
    margin-top: 160px;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 45px;
    background: none;
    border-radius: 50% 50% 50% 50%;
    color: $highlight_yellow;
    content: "\201D";
    }

.featureBlock blockquote:before {top: -190px;    content: "\201C";
}

.featureBlock blockquote:after {
	right: 0;top: 37px;
}

.featureBlock blockquote.bg:after, .featureBlock blockquote.bg:before,.featureBlock blockquote.whimsy:after, .featureBlock blockquote.whimsy:before{
	background-color: $primary_blue; color: $highlight_yellow
}

.whimsy:after {display: none;}
.featureBlock .whimsy:before {left: 127px;top:-240px;
	font-size: 100px;
	height: 60px;
	width: 60px;
	line-height: 110px
}
.featureBlock cite {
   	color: $highlight_yellow;
    display: block;
    font-size: 16px;
    font-style: normal;
    padding: 10px 0;
}
.slide blockquote {


    border: 0 none;
    color: $grey_text;
    margin: 0;
    padding: 55px 60px 0;
    width: 100%;
    @include box-sizing('border-box');

    font-size: 24px;
}

.slide blockquote:before,.slide blockquote:after {
	display: none;
}

    .home-horz .slide .content h2 {text-align: center; margin-top: 20px; color:$highlight_yellow
    }
    .home-horz .slide .content h2 a {color: $primary_blue}
    .home-horz .slide .content {width: 100%;}
.premium {
	background: url("#{$image_path}/images/icon-premium.png") no-repeat center center;
	font-family: $sans;
	margin-left: 7px;
	width: 16px;
	height: 16px;
	display: inline-block
}

.article blockquote p {
	margin: 0;
    padding: 20px 0;
    position: relative;}

/* Landing Page */

.ls-contents {background-color: #eee; margin-top: 0;	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;}

.issue-contents {
	list-style-type: none;
	padding: 0px 0 0 0;
	position: relative;
	background: $grey_bg;
    margin: 30px 0 0;
   	width: 50%;
	float: left;
}

.issue-contents li,.ls-contents li {
	float: left;
	width: 50%;

	padding: 0 20px;
	@include box-sizing('border-box');

	margin: 20px 0;
}
.issue-contents li {width: 100%; margin: 0 0 20px;	padding: 0 30px 0 20px;
}
.issue-contents li img,.ls-contents li img{
	float: left;
	margin-right: 10px;
	border: 5px solid white;
	width: 120px;
	height: 80px;
}
.issue-contents li img {
	width: 80px;
	height: 60px;
	border-color: #333;
}
.ls-contents h2 {
	padding-top: 30px;
	margin: 0px 0 0px 20px;
    color: $grey_text;
    border-color: #ddd;
}
.issue-contents li h3, .issue-contents h3 a,.ls-contents h3, .ls-contents h3 a, .issue-contents a{
	margin: 0;
	color: $primary_blue;
	font-size: 16px;
}
.issue-contents li h3, .issue-contents h3 a,.issue-contents a{
	color: $highlight_yellow;
}

.issue-contents h3 {
	padding: 0 20px;
	color: #4590D4;
	margin: 0 0 20px;
}
.issue-contents a {
	display: block;
	margin-bottom: 0;
	line-height: 24px;
}

.issue-contents a:hover {
	color: $white
}
.issue-contents span, .ls-contents span {	font-family: $sans;
font-size: 14px;
color: #4590D4;
}

.issue-contents span {
	color: white;
}

.section {
border-top: 1px solid rgba(71, 147, 202, 0.2);
    padding: 0;
}

.section h3{
    color: $primary_blue;
    display: inline;
    float: left;
    font-family: $sans;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 15px 0;
    border-top: 5px solid rgba(71, 147, 202, 0.2);
}

/* Carousel Styles */

.carousel {
	position: relative;
	margin: 50px 0 50px 10px;
	    border-top: 1px solid rgba(71, 147, 202, .2);

}

#navigation {
	position: relative;
}
.prev, .next {
height: 50px;
    position: absolute;
    top: 50px;
    width: 50px;
}

.prev {background: url("#{$image_path}/images/prev.png")}
.next {right: 0; background: url("#{$image_path}/images/next.png")}

.prev:hover, .next:hover, .prev:active, .next:active {background-position: center bottom; cursor: pointer;}

#slider {
	margin: auto;
	width: 880px;
}

.carousel h2, .discussion header h2 {
    color: $primary_blue;
    display: inline;
    float: left;
    margin-top: 0;
    padding: 15px 0px 10px;
    border-top: 5px solid rgba(71, 147, 202, .2);

}

.discussion header h2 a {
	text-decoration: none;
}
.carousel ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.carousel ul li {
	float: left;
	width: 200px;
	margin: 10px;
}

.carousel ul li img {
@include box-sizing('border-box');

border: 5px solid white;
}
.carousel ul li span {
	font-size: 11px;
	background: #eee;
	padding: 5px 8px;
	border-radius: 6px;
}
.carousel ul li h3 {
	margin-top: 5px;
}

/* Comment Styles  */

.discussion {
    margin-bottom: 30px;
    border-top: 1px solid rgba(71, 147, 202, .2);

}

/*
.discussion header h2 {
	float: left;
}
*/

.discussion header .button {
	float: right;
	margin-top: 20px;
}

.comments {
	border-top: 1px dashed #DDDDDD;
    padding-top: 20px;
    position: relative;
}

header .signin {
}

.text p {
    margin: 0 0 1em;
}

.comment {
    overflow: hidden;
    padding: 0 0 1em;
    border-bottom: 1px dashed #ddd;
    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    margin: 0.5em 0 0;
    font-size: 14px;
    color: #666;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 65px;
}

.comments:before {
    width: 3px;
    bottom: -0px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: $secondary_blue;
}

.comment .text:before {
    top: 18px;
    left: 78px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg");
    -moz-transform: rotate(45deg");
    -ms-transform: rotate(45deg");
    -o-transform: rotate(45deg");
}

.guide {margin: 50px auto 100px;}

/* =Clearfix (all browsers)
--------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* IE6 */
* html .clearfix {height: 1%;}
/* IE7 */
*:first-child+html .clearfix {min-height: 1px;}

.lt-ie9 .search input {height: 35px;}

.index {margin: 60px auto;}
.index h1 {line-height: 50px;}
.index dd {  margin: 0;
    padding: 0 0 20px;}
.index dl {margin-top: 30px;}
.index dt {   border-top: 1px dashed #EEEEEE;
    padding: 20px 0 0;}
    .index li {margin-bottom: 30px;}
        .index li img {border: 1px solid #ddd;}
        
